body{
    color: white;
}

#basic-nav-dropdown{
    color: white;
}

.topNav{
    margin-left: 1rem;
    margin-right: 2rem;
}

.mainWordTitle{
    font-family:'Mirza';
    font-size: 6rem;
    margin-top: 2rem;
    line-height: 0.8;
    color: #38F494;
}

.underMainWordTitle{
    font-size: 1.3rem;
    opacity: 0.8;
    margin-top: 1rem;
}

.mainNav{
    background-color: rgb(#0A0A0A);
    background: #0A0A0A;
}

