.com_username, .com_content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.com_statPillMore{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.com_statPillMore:after{
    display: none !important;
}

.com_profileImageCont{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.com_profileImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.com_statPillMore:hover, .com_statPillMore:active, .com_statPillMore:focus{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(41, 63, 71);
    transition: 0.35s
}

.com_moreImage{
    scale: 30%;
}

.com_username{
    font-weight: 900;
    font-size: 0.85rem;
    margin: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.com_commentContainer{
    
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.com_content{
    padding-left: 52px;
    font-size: 0.9rem;
    margin: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    overflow-wrap: break-word;
}

.com_statPillVote{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.com_voteCountDisplay{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    margin: 0;
}

.com_voteCont:hover, .com_downvoteCont:hover{
    background-color: rgb(41, 63, 71);
    transition: 0.2s;
}

.com_voteCont:hover .com_upvoteImage{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 68, 0));
    transition: 0.2s;
}

.com_downvoteCont:hover .com_downvoteImage{
    filter: opacity(0.5) drop-shadow(0 0 0 blue);
    transition: 0.2s;
}

.com_voteCont, .com_downvoteCont{
    /* background-color: aliceblue; */
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.com_upvoteImage, .com_downvoteImage{
    max-width: 100%;
    scale: 65%;
}
