h3{
    font-size: 1.4rem;
}

.mainCont{
    width: 40%;
}

.custom-tabs .nav-link {
    border-radius: 0;
    background-color: rgb(19,31,35);
    border: none;
    border-bottom: 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(72,79,80);
    color: rgb(129,131,132);
}

.subredditListContainerForm{
    background-color: rgb(19,31,35);
    padding: 0;
}

.dropdownPadding{
    background-color: rgb(19,31,35);
    padding-left: 15px;
    padding-right: 10px;
    width: 50%;
}

.subredditListContainerForm:hover{
    background-color: rgb(19,31,35);
    padding: 0;
}

.subredditDropMargin{
    padding-top: 10px;
    padding-bottom: 10px;
}

.subredditDropMargin:hover{
    background-color: rgb(34,50,55);
    border-radius: 10px;
    transition: 0.2s;
}

.subredditDropName{
    margin: 0px;
    padding: 0px;
    color: white;
    margin-left: 10px;
    font-size: 0.8rem;
}

.custom-tabs .nav-link:hover{
    border-radius: 0;
    background-color: rgb(34,50,55);
    border: none;
    border-bottom: 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(72,79,80);
    color: rgb(129,131,132);
}

.custom-tabs .nav-link.active{
    border-radius: 0;
    background-color: rgb(34,50,55);
    border-bottom-width: 4px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    font-weight: 400;
    transition: .2s;
}


.custom-tabs .nav-item:first-child .nav-link {
border-top-left-radius: 0.25rem;
}

.custom-tabs .nav-item:last-child .nav-link {
border-top-right-radius: 0.25rem;
}
  
.titleInput, .contentInput{
    width: 100%;
    background-color: rgb(19,31,35);
    border-color: rgb(72,79,80);
    overflow: hidden;
    white-space: pre-line;
    color: white;
}

.titleInput:focus, .contentInput:focus{
    width: 100%;
    background-color: rgb(19,31,35);
    border-color: rgb(72,79,80);
    border-style: solid;
    overflow: hidden;
    white-space: pre-line;
    color: white;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: rgb(19,31,35);
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover{
    background-color: rgb(34,50,55);
    transition: .2s;
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.formUpload{
    border: 1px dashed rgb(72,79,80);
    border-radius: 10px;
    background-color: rgb(19,31,35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.createPost{
    width: 75px;
    height: 31px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    font-weight: 700;
    font-size: 0.95rem;
    letter-spacing: 0.03rem;
    color: rgb(19,31,35);
    text-decoration: none;
}

.createPost:hover{
    cursor: pointer;
    background-color: rgb(34,50,55);
    transition: 0.2s;
    color: #FFFFFF;
    text-decoration: none;
}

.tabOneCont{
    background-color: rgb(19,31,35);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.subredditImagePlc{ 
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px dashed rgb(72,79,80);
    border-radius: 50%;
    overflow: hidden;
}

.form_subredditImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subredditImageForum{
    width: 100%;
    height: 100%;
    opacity: 80%;
    object-fit: cover;
    display: block;
    margin: 0;
}

.downImageSubreddit{
    opacity: 60%;
    scale: 70%;
}

.subredditSelectInvBorder{
    width:100%
}

.subredditSelectCont{
    width: 50%;
    background-color: rgb(19,31,35);
    border: 1px solid rgb(72,79,80);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle:hover, .dropdown-toggle:focus{
    width: 50%;
    background-color: rgb(31, 51, 57) !important;
    border: 1px solid rgb(72,79,80) !important;
    box-shadow: none !important;
    border-radius: 5px;
}





.subredditText{
    margin: 0;
    margin-left: 10px;
}