body{
    color: white;
}

#basic-nav-dropdown{
    color: white;
}

.land_main{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0A0A0A;
}

.land_nav{
    height: 13vh;
    /* background-color: #0A0A0A; */
}

.land_logoCont{
    height: 600px;
    width: 600px;
    transition: 0.5s;
}

.land_logoCont:hover{
    height: 630px;
    width: 630px;
    transition: 0.5s;
}

.land_frontpage{
    font-family: 'Verdana', 'IBM Plex Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 0;
    margin-left: 20px;

}

.land_logo{
    width: 100%;
}

.land_title{
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    margin-left: 20px;
}

.land_mid{
    padding-bottom: 110px;
    height: 87vh;
    /* background-color: blanchedalmond; */
}

.land_tag{
    font-family: 'Verdana', 'IBM Plex Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    margin: 0;
    margin-left: 20px;
}

.land_reg{
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin: 0;
    margin-left: 20px;
}

.land_reg, .land_tag, .land_title{
    cursor: pointer;
}



















.mainNav{
    background: rgb(11,20,22) !important;
    background-image: none;
    border-bottom: rgb(72,79,80);
    border-bottom-style: solid;
    border-width: 1px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleNav{
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
    height: 100%;
}

.homeBorder{
    border-style: solid;
    font-size: 0.9rem;
    border-color: rgb(80, 80, 80) !important;
    border-width: 0.5px;
    border-radius: 5px;
    height: 38px;
    width: 17vw;
}

.searchBar{
    background-color: rgb(26,40,45);
    width: 45vw;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26,40,45);
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput{
    background: transparent;
    width: 90%;
    border: none;
    color: white;
    outline: none;
}

.searchInput:focus{
    outline: none;
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


::placeholder{
    color: rgb(130,149,155);
    font-size: 1rem;
}

.topNav{
    margin-left: 1rem;
    margin-right: 2rem;
    height: 100%;
}

.mainWordTitle{
    font-family:'Mirza';
    font-size: 6rem;
    margin-top: 2rem;
    line-height: 0.8;
    color: rgb(255, 83, 20);
}

.underMainWordTitle{
    font-size: 1.3rem;
    opacity: 0.8;
    margin-top: 1rem;
}

.mainNav{
    background-color: rgb(#0A0A0A);
    background: #0A0A0A;
}

.getStartedButton{
    background-color: #38F494;
    color: #0A0A0A;
    border-color: #38F494;
}

.moyaiImage{
    scale: 0.9;
    transition: 0.3s;
}

.moyaiImage:hover{
    scale: 0.95;
}

