body{
    color: white;
}

#basic-nav-dropdown{
    color: white;
}

.cs_graybg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.5);
    z-index: 100000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs_closeButton{
    scale: 30%;
    opacity: 60%;
}

.cs_closeButton:hover{
    opacity: 100%;
    transition: 0.2s;
}

.cs_mainWindow{
    width: 500px;
    background-color: rgb(15,26,28);
    border-radius: 20px;
    padding: 30px;
}

.cs_formUpload{
    border: 1px dashed rgb(72,79,80);
    background-color: rgb(19,31,35);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
}

.cs_formImageCont{
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs_formImage{
    height: 120px;
    /* width: 100%; */
    object-fit: cover;
}

.cs_custom-file-upload {
    font-size: 2rem;
    opacity: 50%;
    cursor: pointer;
}

.cs_custom-file-upload:hover{
    cursor: pointer;
    opacity: 80%;
    transition: .5s;
}

.cs_coverFormUpload{
    border: 1px dashed rgb(72,79,80);
    background-color: rgb(19,31,35);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-height: 100px;
}

.cs_covercustom-file-upload{
    background-color: rgb(19,31,35);
    border: 1px solid white;
    width: 110px;
    font-size: 0.9rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 6px 12px;
    cursor: pointer;
}

.cs_covercustom-file-upload:hover{
    background-color: rgb(34,50,55);
    transition: .2s;
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.cs_coverformImageCont{

}

.cs_coverformImage{
    width: 100%;
    object-fit: cover;
}









.navFollower{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.mainNav{
    position: sticky;
    top: 0;
    background: rgb(11,20,22) !important;
    background-image: none;
    border-bottom: rgb(72,79,80);
    border-bottom-style: solid;
    border-width: 1px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleNav{
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
    height: 100%;
}

.searchBar{
    background-color: rgb(26,40,45);
    width: 45vw;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26,40,45);
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton{
    background-color: rgb(217,58,0);
    width: 75px;
    height: 40px;
    border-radius: 6vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.01rem;
    font-size: 0.98rem;
    cursor: pointer;
}

.loginButton:hover{
    background-color: rgb(150,41,0);
    transition: 0.2s;
}

.searchInput{
    background: transparent;
    width: 90%;
    border: none;
    color: white;
    outline: none;
}

.searchInput:focus{
    outline: none;
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.mainNav{
    background-color: rgb(#0A0A0A);
    background: #0A0A0A;
}


.userInfoBox{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    height: 44px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfoBox:hover{
    border: 1px solid rgb(72,79,80);
    border-radius: 5px;
    transition: 0.2s;
}

.userInfoMargin{
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_dropdownBox{
    background-color: rgb(11, 20, 22) !important;
    border: 1px solid rgb(72,79,80) !important;
    width: 250px;
}

.nav_dropItem{
    color: white !important;
    padding-left: 55px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.nav_profileImageCont{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(11,20,22);
    margin-left: 10px;
}

.nav_profileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_myStuffs{
    color: rgb(151, 151, 151) !important;
    padding-left: 55px;
    padding-top: 3px;
    padding-bottom: 15px;
}

.nav_dropItem:hover{
    background-color: rgb(34,50,55);
    transition: 0.2s;
}




.username, .karmaCount{
    margin: 0;
    font-size: 0.71rem;
    color: white;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}

.karmaCount{
    opacity: 80%;
}

.downArrow{
    scale: 53%;
    opacity: 50%;
    float: right;
}