body{
    color: white;
}

#basic-nav-dropdown{
    color: white;
}

.navFollower{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.mainNav{
    position: sticky;
    top: 0;
    background: rgb(11,20,22) !important;
    background-image: none;
    border-bottom: rgb(72,79,80);
    border-bottom-style: solid;
    border-width: 1px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleNav{
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
    height: 100%;
}

.searchBar{
    background-color: rgb(26,40,45);
    width: 45vw;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26,40,45);
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton{
    background-color: rgb(217,58,0);
    width: 75px;
    height: 40px;
    border-radius: 6vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.01rem;
    font-size: 0.98rem;
    cursor: pointer;
}

.loginButton:hover{
    background-color: rgb(150,41,0);
    transition: 0.2s;
}

.searchInput{
    background: transparent;
    width: 90%;
    border: none;
    color: white;
    outline: none;
}

.searchInput:focus{
    outline: none;
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.mainNav{
    background-color: rgb(#0A0A0A);
    background: #0A0A0A;
}


.userInfoBox{
    border-radius: 5px;
    border: 1px solid transparent;
    height: 44px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfoBox:hover{
    border: 1px solid rgb(72,79,80);
    border-radius: 5px;
    transition: 0.2s;
}

.userInfoMargin{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username, .karmaCount{
    margin: 0;
    font-size: 0.71rem;
    color: white;
}

.karmaCount{
    opacity: 80%;
}

.downArrow{
    scale: 53%;
    opacity: 50%;
    float: right;
}