h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 1.1rem;
}

p{
    font-size: .9rem;
}

.postBorder, .filter{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    padding-right: 0%;
    padding-left: 15px;
}

.postBorder:hover{
    background-color: rgb(19,31,35);
    transition: 0.2s;
}

.overflow-container{
    scrollbar-width: none;
}

.postMargin{
    padding-top: 13px;
    padding-bottom: 13px;
}

.statPill{
    width: 85px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(26,40,45);
    margin-right: 10px;
}

.statPillCont{
    max-height: 100%;
    width: 18px;
    margin-left: 10px;
    overflow: hidden;
}

.statPillImage{
    max-width: 100%;
}

.userInfoPost{
    font-size: 0.8rem;
    color: rgb(129,131,132);
    font-weight: 300;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.timelineCont{
    padding-left: 27px;
}

.titlePost{
    color: rgb(215,218,220);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.contentPost{
    color: rgb(215,218,220);
    font-family: 'Noto Sans';
    font-weight: 400;
    max-width: 98%;
}

.contentImage{
    max-width: 100%;
}

.contentImageContainer{
    border-radius: 15px;
    border: 1px solid rgb(72,79,80);
    max-width: 98%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.createButton{
    width: 120px;
    height: 40px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(72,79,80);
    border-width: 1px;
    background-color: rgb(11,20,22);
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 0.03rem;
    color: #FFFFFF;
    text-decoration: none;
}

.createButton:hover{
    cursor: pointer;
    background-color: rgb(34,50,55);
    transition: 0.2s;
    color: #FFFFFF;
    text-decoration: none;
}

.sideBar{
    border-right: 1px;
    border-color: rgb(72,79,80);
    border-right-style: solid;
}

.sideBarStick{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}

.sideContent{
    border-radius: 10px;
    width: 100%;
}

.sideContent:hover{
    cursor: pointer;
    background-color: rgb(34,50,55);
    border-radius: 10px;
    transition: 0.3s;
}

.suggestMainBox{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    height: 80vh;
}

.suggestCommunities{
    background-color: rgb(4,9,10);
    border-radius: 10px;
    height: 400px
}


.popularCommunities{
    font-size: 1rem;
    color: rgb(128, 128, 128);
    margin-bottom: 19px;
}

.suggestionBox{
    display: flex;
}

.suggestionBox:hover{
    background-color: rgb(17, 17, 17);
    transition: 0.2s;
}

.imageCircle{
    background-color: blue;
    margin-right: 9px;
    box-sizing: border-box;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.imageMain{
    max-height: 100%;
}

.subredditName{
    margin: 0;
}
.postCount{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 100;
    color: rgb(128, 128, 128);
}

