.user_profileMainCont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_profileCont{
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    margin-right: 20px;
    overflow: hidden;
}

.user_profileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.user_bigUsername, .user_smallUsername{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user_smallUsername{
    opacity: 80%;
    font-weight: 500;
}

.tab-underline-remove, .nav-link.active {
    border-bottom: none !important;
    border-color: none !important;
    border-radius: 50px;
    border: none !important;
    color: white !important;
}


.tab-underline-remove, .nav-link:not(.active) {
    color: white !important;
    outline: none !important;
  }

.nav-link, .nav-link:focus, .nav-link:hover, .nav-link.active{
    border: none !important;
}


.nav-link.active, .nav-link:focus{
    background-color: rgb(51,70,76) !important;
    transition: 0.2s;
}

.user_timelineLeftCont{
    padding-left: 5%;
    padding-right: 5%;
}

.follow_border{
    width: 100%;
    background-color: rgb(19, 31, 35);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.follow_profileBorder{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px white solid;
    margin-right: 15px;
}

.follow_profile{
    width: 100%;
    height: 100%;
}

.follow_username{
    cursor: pointer;
    color: rgb(228, 228, 228);
    margin: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.follow_username:hover{
    color: white;
    transition: 0.2s;
}

.follow_karma{
    cursor: pointer;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 0.7rem;
    opacity: 60%;
    font-weight: 600;
    margin: 0;
}


.usercom_subredditName, .usercom_commentPostTitle, .usercom_userPoster, .usercom_userFrom{
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    margin: 0;
    font-size: 0.74rem;
}

.usercom_layer2{
    padding-left: 35px;
}

.usercom_userPoster, .usercom_userFrom{
    font-weight: 900;
}

.usercom_userFrom{
    margin-left: 5px;
}

.usercom_repliedto{
    font-size: 0.7rem;
    margin-left: 5px;
    opacity: 60%;
}

.usercom_subredditName{
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.usercom_commentPostTitle{
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.usercom_mainContent{
    font-size: 0.93rem;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    padding-left: 35px;
}

.usercom_subredditImageCont{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin-right: 7px;
}

.usercom_subredditImage{
    width: 100%;
    object-fit: cover;
}

.usercom_mainCont{
    align-items: center;
}

.user_sideBar{
    width: 305px;
    background-color: rgb(4, 9, 10);
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_inviBorder{
    width: 88%;
    height: 95%;
}

.user_upperBar{
    margin-top: 5px;
}

.user_followBar{

}

.user_followButton{
    height: 30px;
    width: 85px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 69, 172);
}

.user_mainUsername{
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: 800;
    letter-spacing: 0.02rem;
}

.user_followPlus{
    scale: 55%;
}

.user_followText{
    font-family: sans-serif;
    margin: 0;
    padding-right: 10px;
    font-weight: 600;
}

.user_count, .user_label{
    margin: 0;
    font-family: sans-serif;
}

.user_count{
    font-weight: 600;
    font-size: 0.8rem;
}

.user_label{
    opacity: 70%;
    font-weight: 100;
    font-size: 0.72rem;
    letter-spacing: 0.02rem;
}

.ss_border{
    background-color: rgb(4, 9, 10);
    border-radius: 10px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.ss_border:hover{
    background-color: rgb(11, 20, 22);
    transition: 0.2s;
}

.ss_imageCont{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.ss_image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.ss_subName{
    font-size: 0.88rem;
    font-weight: 300;
    font-family: sans-serif;
    margin: 0;
}

.ss_subMemberCount{
    margin: 0;
    font-size: 0.75rem;
    opacity: 65%;
}